camera/common/__pycache__/*
camera/common/hot/*
camera/common/hot-?.png
__pycache__/*
web/fits/*
web/snap/*
web/video/*
web/keogram/*
vendor/*
yolo/day
yolo/night
yolo/evening
yolo/morning
yolo/cloud/*
yolo/clear/*
yolo/yolo*pt
composer.lock
