import cv2

name = 'Борис Кудрявцев'

ccd = {
	'name':		'ZWO CCD ASI178MC',
	'binning':	2,
	'avgMin':	55,
	'avgMax':	150,
	'expMin':	0.0001,
	'expMax':	45.,
	'bits':		16,
	'cfa':		cv2.COLOR_BayerBG2RGB,
}

timestamp = [
	{
		'format':	'%d.%m.%Y',			# Формат строки
		'x':		0,					# координаты ЛВУ. В пикселях
		'y':		0,
		'size':		30,					# размер шрифта
		'color':	(255,255,255,128),	# цвет букв
	},
	{
		'format':	'%H:%M',
		'x':		0,
		'y':		35,
		'size':		30,
		'color':	(255,255,255,255),
	},
]

archive = {
	'days':		7,				# Хранить архив жпегов 7 дней
}

video = {
	'width':	1024,
	'height':	768,
	'days':		30,				# Хранить 30 дней mp4
}

relay = [
	{
		'name':		'Реле 1',
		'gpio':		'17',		# '/sys/class/gpio/gpio17/value',
		'hotter':	'yes',		# это реле - обогрев подкупольного
	},
	{
		'name':		'Реле 2',
		'gpio':		'18',
	},
]

db = {
	'host':		'localhost',
	'user':		'root',
	'passwd':	'master',
	'database':	'allsky',
}

path = {
	'web':		'/var/www/html/',
	'ffmpeg':	'/usr/bin/ffmpeg',
}

import logging

log = {
	'path':		'/var/log/allsky.log',
	'level':	logging.DEBUG,
}


### дальше не править

if (path['web'][-1] != '/'):
	path['web'] += '/'

path['snap'] = path['web'] +'snap/'
path['video'] = path['web'] +'video/'
